# Pandas Cheat Sheet

In [15]:
import pandas as pd

### Creation

#### Series Creation

In [16]:
dogAges = pd.Series([1,3,5,5], index =['Patchi','Mojie','Lucas','Jacob'])
dogAges

Patchi    1
Mojie     3
Lucas     5
Jacob     5
dtype: int64

#### Data Frame Creation

In [71]:
EskwelabsData = {
            'Mentors' : ['Maqi','Seth','Cliffy'],
            'Mentees' : ['Jen','Nicole','Ian'],
            'Number' : [0,1,2]
            }

randomIndexNumbers = [69,75,99]

EskwelabsDF = pd.DataFrame(EskwelabsData,columns=['Mentors','Mentees','Number'])
EskwelabsDF

  Mentors Mentees  Number
0    Maqi     Jen       0
1    Seth  Nicole       1
2  Cliffy     Ian       2

In [72]:
randomArray =[1,'two',3.5]
randomArray

[1, 'two', 3.5]

### Modification (Datatypes,Index,Columns,Rows)

#### Changing Datatypes

In [77]:
#Convert User_Score into numeric, errors = 'coerce' converts non numeric values into NaN/null
print("The current Dtype of EskwelabsDF[Number] is:",EskwelabsDF['Number'].dtype)
EskwelabsDF['Number'] = pd.to_numeric(EskwelabsDF['Number'], errors='coerce',downcast='float')
print("Converted EskwelabsDF[Number] to:", EskwelabsDF['Number'].dtype)

The current Dtype of EskwelabsDF[Number] is: float32
Converted EskwelabsDF[Number] to: float32

#### Setting Custom Index

In [19]:
# Modifying the default index to 'randomIndexNumbers'
EskwelabsDF = EskwelabsDF.set_index('Number')
print(EskwelabsDF)
# Modifying the default index to 'randomIndexNumbers'
EskwelabsDF.index = randomIndexNumbers
print(EskwelabsDF)

       Mentors Mentees
Number
0         Maqi     Jen
1         Seth  Nicole
2       Cliffy     Ian
   Mentors Mentees
69    Maqi     Jen
75    Seth  Nicole
99  Cliffy     Ian

In [20]:
#Drop = False, keeps it as a column
#Drop = True , removes it completely
EskwelabsDF = EskwelabsDF.reset_index(drop=False) # EskwelabsDF.reset_index(drop=False, inplace=True)
#Alternatively:

EskwelabsDF

   index Mentors Mentees
0     69    Maqi     Jen
1     75    Seth  Nicole
2     99  Cliffy     Ian

#### Removing Columns

In [21]:
EskwelabsDF.drop('index',axis=1,inplace=True)
EskwelabsDF

  Mentors Mentees
0    Maqi     Jen
1    Seth  Nicole
2  Cliffy     Ian

#### Removing Rows

In [22]:
EskwelabsDF.drop(1,axis=0,inplace=True)
EskwelabsDF

  Mentors Mentees
0    Maqi     Jen
2  Cliffy     Ian

#### Adding Columns

In [23]:
EskwelabsDF['Instructors'] = ['Mau','Luigi']
EskwelabsDF

  Mentors Mentees Instructors
0    Maqi     Jen         Mau
2  Cliffy     Ian       Luigi

#### Adding Rows

In [24]:
#By default these are 3 lists of dictionaries
new_Eskwelabs_Rows = {
    'Mentors':['Seth','Bianca'],
    'Mentees': ['Jen','JM'],
    'Instructors':['Lex','Marc']
}

# Convert new rows dictionary into DataFrame
new_rows_df = pd.DataFrame(new_Eskwelabs_Rows)

#Convert it into a dataframe as you concat
EskwelabsDF = pd.concat([EskwelabsDF, new_rows_df], ignore_index=True)

EskwelabsDF

  Mentors Mentees Instructors
0    Maqi     Jen         Mau
1  Cliffy     Ian       Luigi
2    Seth     Jen         Lex
3  Bianca      JM        Marc

### Indexing (Loc,Iloc,Array style)

#### Row Indexing

In [65]:
#Getting element row 0 and 1
EskwelabsDF[0:2]

EskwelabsDF.iloc[0:2,:]

  Mentors Mentees Instructors
0    Maqi     Jen         Mau
1  Cliffy     Ian       Luigi

#### Column Indexing

In [66]:
EskwelabsDF.iloc[:,1]

0    Jen
1    Ian
2    Jen
3     JM
Name: Mentees, dtype: object

#### Single Element Indexing By Position

In [53]:
print(EskwelabsDF.iloc[0, 0])

print(EskwelabsDF.iat[0,0])

Maqi
Maqi

#### Select Single Element by Label

In [62]:
#Combine the 2 parameters to retrieve a single element
print(EskwelabsDF.loc[0, 'Mentees'])
print(EskwelabsDF.at[0, 'Mentees'])

Jen
Jen

### Reading and Writing File

#### Read & Write File with location

In [25]:
file_path = r'B:\jupyter\Projects\Video Game Project\Video_Games.csv'
df = pd.read_csv(file_path)

#df.to_csv(file_path)

## Summary

#### Head

In [67]:
df.head(25)

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,index,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,0,0,0,0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,1,1,1,1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2,2,2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,3,3,3,3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,4,4,4,4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
5,5,5,5,5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,NaN,NaN,NaN,NaN,NaN,NaN
6,6,6,6,6,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80,89.0,65.0,8.5,431.0,Nintendo,E
7,7,7,7,7,Wii Play,Wii,2006.0,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,Nintendo,E
8,8,8,8,8,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.44,6.94,4.70,2.24,28.32,87.0,80.0,8.4,594.0,Nintendo,E
9,9,9,9,9,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31,NaN,NaN,NaN,NaN,NaN,NaN
10,10,10,10,10,Nintendogs,DS,2005.0,Simulation,Nintendo,9.05,10.95,1.93,2.74,24.67,NaN,NaN,NaN,NaN,NaN,NaN
11,11,11,11,11,Mario Kart DS,DS,2005.0,Racing,Nintendo,9.71,7.47,4.13,1.90,23.21,91.0,64.0,8.6,464.0,Nintendo,E
12,12,12,12,12,Pokemon Gold/Pokemon Silver,GB,1999.0,Role-Playing,Nintendo,9.00,6.18,7.20,0.71,23.10,NaN,NaN,NaN,NaN,NaN,NaN
13,13,13,13,13,Wii Fit,Wii,2007.0,Sports,Nintendo,8.92,8.03,3.60,2.15,22.70,80.0,63.0,7.7,146.0,Nintendo,E
14,14,14,14,14,Kinect Adventures!,X360,2010.0,Misc,Microsoft Game Studios,15.00,4.89,0.24,1.69,21.81,61.0,45.0,6.3,106.0,Good Science Studio,E
15,15,15,15,15,Wii Fit Plus,Wii,2009.0,Sports,Nintendo,9.01,8.49,2.53,1.77,21.79,80.0,33.0,7.4,52.0,Nintendo,E
16,16,16,16,16,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.02,9.09,0.98,3.96,21.04,97.0,50.0,8.2,3994.0,Rockstar North,M
17,17,17,17,17,Grand Theft Auto: San Andreas,PS2,2004.0,Action,Take-Two Interactive,9.43,0.40,0.41,10.57,20.81,95.0,80.0,9,1588.0,Rockstar North,M
18,18,18,18,18,Super Mario World,SNES,1990.0,Platform,Nintendo,12.78,3.75,3.54,0.55,20.61,NaN,NaN,NaN,NaN,NaN,NaN
19,19,19,19,19,Brain Age: Train Your Brain in Minutes a Day,DS,2005.0,Misc,Nintendo,4.74,9.20,4.16,2.04,20.15,77.0,58.0,7.9,50.0,Nintendo,E
20,20,20,20,20,Pokemon Diamond/Pokemon Pearl,DS,2006.0,Role-Playing,Nintendo,6.38,4.46,6.04,1.36,18.25,NaN,NaN,NaN,NaN,NaN,NaN
21,21,21,21,21,Super Mario Land,GB,1989.0,Platform,Nintendo,10.83,2.71,4.18,0.42,18.14,NaN,NaN,NaN,NaN,NaN,NaN
22,22,22,22,22,Super Mario Bros. 3,NES,1988.0,Platform,Nintendo,9.54,3.44,3.84,0.46,17.28,NaN,NaN,NaN,NaN,NaN,NaN
23,23,23,23,23,Grand Theft Auto V,X360,2013.0,Action,Take-Two Interactive,9.66,5.14,0.06,1.41,16.27,97.0,58.0,8.1,3711.0,Rockstar North,M
24,24,24,24,24,Grand Theft Auto: Vice City,PS2,2002.0,Action,Take-Two Interactive,8.41,5.49,0.47,1.78,16.15,95.0,62.0,8.7,730.0,Rockstar North,M

#### Tail

In [68]:
df.tail(20)

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,index,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
16908,16908,16908,16908,16908,Dragon Ball Z: Buu's Fury,GBA,2004.0,Action,Atari,0.44,0.16,0.00,0.01,0.61,62.0,19.0,8.9,39.0,Webfoot Technologies,E
16909,16909,16909,16909,16909,Madden NFL 2002,GC,2001.0,Sports,Electronic Arts,0.47,0.12,0.00,0.02,0.61,89.0,12.0,tbd,NaN,EA Sports,E
16910,16910,16910,16910,16910,Spider-Man: Mysterio's Menace,GBA,2001.0,Action,Activision,0.43,0.16,0.00,0.01,0.61,84.0,8.0,8.7,11.0,Vicarious Visions,E
16911,16911,16911,16911,16911,Madden NFL 2000,N64,1999.0,Sports,Electronic Arts,0.58,0.02,0.00,0.00,0.61,NaN,NaN,NaN,NaN,NaN,NaN
16912,16912,16912,16912,16912,Game & Watch Gallery 4,GBA,2002.0,Misc,Nintendo,0.43,0.16,0.00,0.01,0.61,NaN,NaN,NaN,NaN,NaN,NaN
16913,16913,16913,16913,16913,MySims Racing,DS,2009.0,Racing,Electronic Arts,0.25,0.29,0.00,0.07,0.61,67.0,11.0,7.3,4.0,EA Games,E
16914,16914,16914,16914,16914,Naruto: Ultimate Ninja,PS2,2003.0,Fighting,Atari,0.50,0.02,0.00,0.08,0.61,75.0,34.0,7.7,35.0,CyberConnect2,T
16915,16915,16915,16915,16915,Pac-Man Party,Wii,2010.0,Misc,Namco Bandai Games,0.47,0.08,0.01,0.04,0.61,59.0,14.0,5.9,8.0,TOSE,E10+
16916,16916,16916,16916,16916,Cabela's Monster Buck Hunter,Wii,2010.0,Sports,Activision,0.57,0.00,0.00,0.03,0.61,NaN,NaN,tbd,NaN,FUN Labs,T
16917,16917,16917,16917,16917,Tony Hawk's Underground,GBA,2003.0,Sports,Activision,0.43,0.16,0.00,0.01,0.60,86.0,9.0,7.7,9.0,Vicarious Visions,E
16918,16918,16918,16918,16918,Dark Souls II,PS4,2015.0,Role-Playing,Namco Bandai Games,0.21,0.23,0.08,0.09,0.60,NaN,NaN,NaN,NaN,NaN,NaN
16919,16919,16919,16919,16919,Monster Trucks,GBA,2004.0,Racing,Majesco Entertainment,0.43,0.16,0.00,0.01,0.60,NaN,NaN,tbd,NaN,Skyworks Technologies,E
16920,16920,16920,16920,16920,World of Zoo,Wii,2009.0,Simulation,THQ,0.40,0.15,0.00,0.05,0.60,NaN,NaN,8.2,6.0,Blue Fang Games,E
16921,16921,16921,16921,16921,Shadow The Hedgehog,PS2,2005.0,Platform,Sega,0.50,0.02,0.00,0.08,0.60,45.0,28.0,6,137.0,Sonic Team,E10+
16922,16922,16922,16922,16922,Wave Race: Blue Storm,GC,2001.0,Racing,Nintendo,0.40,0.10,0.09,0.02,0.60,80.0,21.0,8.3,29.0,Nintendo,E
16923,16923,16923,16923,16923,Aliens: Colonial Marines,PS3,2013.0,Shooter,Sega,0.20,0.29,0.00,0.11,0.60,43.0,25.0,3.6,295.0,Gearbox Software,M
16924,16924,16924,16924,16924,Backyard Wrestling: Don't Try This at Home,PS2,2003.0,Fighting,Eidos Interactive,0.30,0.23,0.00,0.08,0.60,51.0,24.0,7.8,29.0,Paradox Development,M
16925,16925,16925,16925,16925,Yakuza: Dead Souls,PS3,2011.0,Shooter,Sega,0.09,0.06,0.42,0.03,0.60,64.0,55.0,7.4,69.0,Ryu ga Gotoku Studios,M
16926,16926,16926,16926,16926,Fight Night Round 2,XB,2005.0,Fighting,Electronic Arts,0.42,0.16,0.00,0.02,0.60,88.0,48.0,8.8,27.0,EA Sports,T
16927,16927,16927,16927,16927,MonHun Nikki: Poka Poka Ailu Mura,PSP,2010.0,Role-Playing,Capcom,0.00,0.00,0.60,0.00,0.60,NaN,NaN,NaN,NaN,NaN,NaN

### Dataframe Information

In [104]:
df['User_Score'] = pd.to_numeric(df['User_Score'], errors='coerce',downcast='float')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16928 entries, 0 to 16927
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0.2     16928 non-null  int64
 1   Unnamed: 0.1     16928 non-null  int64
 2   Unnamed: 0       16928 non-null  int64
 3   index            16928 non-null  int64
 4   Name             16926 non-null  object
 5   Platform         16928 non-null  object
 6   Year_of_Release  16655 non-null  float64
 7   Genre            16926 non-null  object
 8   Publisher        16873 non-null  object
 9   NA_Sales         16928 non-null  float64
 10  EU_Sales         16928 non-null  float64
 11  JP_Sales         16928 non-null  float64
 12  Other_Sales      16928 non-null  float64
 13  Global_Sales     16928 non-null  float64
 14  Critic_Score     8260 non-null   float64
 15  Critic_Count     8260 non-null   float64
 16  User_Score       7718 non-null   float32
 17  User_Count       7718 non-null   float64
 18  Developer        10240 non-null  object
 19  Rating           10092 non-null  object
dtypes: float32(1), float64(9), int64(4), object(6)
memory usage: 2.5+ MB

### Descriptive Statistics

In [27]:
df.describe()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,index,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Count
count,16928.000000,16928.000000,16928.000000,16928.000000,16655.00000,16928.000000,16928.000000,16928.000000,16928.000000,16928.000000,8260.000000,8260.000000,7718.000000
mean,8463.500000,8463.500000,8463.500000,8463.500000,2006.48532,0.266390,0.146850,0.078170,0.047861,0.539520,69.037893,26.428692,163.269629
std,4886.837014,4886.837014,4886.837014,4886.837014,5.88289,0.814326,0.504585,0.308756,0.186675,1.550545,13.943198,18.989929,562.786746
min,0.000000,0.000000,0.000000,0.000000,1980.00000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,4.000000
25%,4231.750000,4231.750000,4231.750000,4231.750000,2003.00000,0.000000,0.000000,0.000000,0.000000,0.060000,60.000000,12.000000,10.000000
50%,8463.500000,8463.500000,8463.500000,8463.500000,2007.00000,0.080000,0.020000,0.000000,0.010000,0.170000,71.000000,22.000000,25.000000
75%,12695.250000,12695.250000,12695.250000,12695.250000,2010.00000,0.240000,0.110000,0.040000,0.040000,0.490000,79.000000,36.000000,82.000000
max,16927.000000,16927.000000,16927.000000,16927.000000,2020.00000,41.360000,28.960000,10.220000,10.570000,82.530000,98.000000,113.000000,10665.000000

## Filtering Data / Boolean Indexing

### Dataframe Filtering

In [81]:
# Enclose each condition within parentheses
df[(df['Year_of_Release'] > 2000) & (df['Platform'] == 'Wii')]

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,index,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,0,0,0,0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
2,2,2,2,2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,3,3,3,3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
7,7,7,7,7,Wii Play,Wii,2006.0,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,Nintendo,E
8,8,8,8,8,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.44,6.94,4.70,2.24,28.32,87.0,80.0,8.4,594.0,Nintendo,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16876,16876,16876,16876,16876,The Black Eyed Peas Experience,Wii,2011.0,Misc,Ubisoft,0.37,0.19,0.00,0.06,0.61,NaN,NaN,tbd,NaN,Ubisoft Quebec,T
16880,16880,16880,16880,16880,Metroid Prime: Trilogy,Wii,2009.0,Shooter,Nintendo,0.42,0.05,0.00,0.14,0.61,91.0,48.0,9.3,316.0,Retro Studios,T
16915,16915,16915,16915,16915,Pac-Man Party,Wii,2010.0,Misc,Namco Bandai Games,0.47,0.08,0.01,0.04,0.61,59.0,14.0,5.9,8.0,TOSE,E10+
16916,16916,16916,16916,16916,Cabela's Monster Buck Hunter,Wii,2010.0,Sports,Activision,0.57,0.00,0.00,0.03,0.61,NaN,NaN,tbd,NaN,FUN Labs,T
16920,16920,16920,16920,16920,World of Zoo,Wii,2009.0,Simulation,THQ,0.40,0.15,0.00,0.05,0.60,NaN,NaN,8.2,6.0,Blue Fang Games,E

## Grouping/Aggregating

#### Simple Group by

In [96]:
# Group by 'Genre' and 'Year_of_Release' and apply custom aggregation
aggregated_by_genre_data = df.groupby(['Genre', 'Year_of_Release']).agg({
    'Global_Sales': 'median'
}).reset_index()
aggregated_by_genre_data

        Genre  Year_of_Release  Global_Sales
0      Action           1980.0         0.340
1      Action           1981.0         0.400
2      Action           1982.0         0.340
3      Action           1983.0         0.340
4      Action           1984.0         1.850
..        ...              ...           ...
385  Strategy           2012.0         0.145
386  Strategy           2013.0         0.190
387  Strategy           2014.0         0.060
388  Strategy           2015.0         0.045
389  Strategy           2016.0         0.060

[390 rows x 3 columns]

#### More complex Group by and Aggregation

##### Custom Concat function

In [105]:
# Define a custom function for concatenating unique non-null values
def concatenate_unique(series):
    non_null_values = series.dropna().unique()
    if len(non_null_values) > 1:
        return ', '.join(map(str, non_null_values))
    elif len(non_null_values) == 1:
        return non_null_values[0]
    else:
        return 'Unknown'

In [114]:
# Group by 'Name' and sum the sales columns
aggregated_by_game_data = df.loc[(df['Year_of_Release'] >= 2000)].groupby('Name').agg({
    'NA_Sales': 'sum',
    'EU_Sales': 'sum',
    'JP_Sales': 'sum',
    'Other_Sales': 'sum',
    'Global_Sales': 'sum',
    'Critic_Score': 'mean',
    'Critic_Count': 'sum',
    'User_Score': 'mean',
    'User_Count': 'sum',
    'Platform': concatenate_unique,
    'Developer': lambda x: x.mode().iat[0] if not x.mode().empty else 'Unknown',  # Handling empty Series, get the first one (if null put unknown)
    'Genre': lambda x: x.mode().iat[0] if not x.mode().empty else 'Unknown',  # Handling empty Series
    'Rating': lambda x: x.mode().iat[0] if not x.mode().empty else 'Unknown',  # Handling empty Series
    'Publisher': lambda x: x.mode().iat[0] if not x.mode().empty else 'Unknown'  # Handling empty Series
}).reset_index()


aggregated_by_game_data.head(10)

,Name,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Platform,Developer,Genre,Rating,Publisher
0,Beyblade Burst,0.00,0.00,0.03,0.00,0.03,NaN,0.0,NaN,0.0,3DS,Unknown,Role-Playing,Unknown,FuRyu
1,Fire Emblem Fates,0.81,0.23,0.52,0.11,1.68,NaN,0.0,NaN,0.0,3DS,Unknown,Role-Playing,Unknown,Nintendo
2,Frozen: Olaf's Quest,0.48,0.53,0.00,0.09,1.12,NaN,0.0,NaN,0.0,"3DS, DS",Unknown,Platform,Unknown,Disney Interactive Studios
3,Haikyu!! Cross Team Match!,0.00,0.00,0.04,0.00,0.04,NaN,0.0,NaN,0.0,3DS,Unknown,Adventure,Unknown,Namco Bandai Games
4,Tales of Xillia 2,0.20,0.12,0.45,0.07,0.84,71.0,59.0,7.9,216.0,PS3,Bandai Namco Games,Role-Playing,T,Namco Bandai Games
5,.hack//G.U. Vol.1//Rebirth,0.00,0.00,0.17,0.00,0.17,NaN,0.0,NaN,0.0,PS2,Unknown,Role-Playing,Unknown,Namco Bandai Games
6,.hack//G.U. Vol.2//Reminisce,0.11,0.09,0.00,0.03,0.23,NaN,0.0,NaN,0.0,PS2,Unknown,Role-Playing,Unknown,Namco Bandai Games
7,.hack//G.U. Vol.2//Reminisce (jp sales),0.00,0.00,0.16,0.00,0.16,NaN,0.0,NaN,0.0,PS2,Unknown,Role-Playing,Unknown,Namco Bandai Games
8,.hack//G.U. Vol.3//Redemption,0.00,0.00,0.17,0.00,0.17,NaN,0.0,NaN,0.0,PS2,Unknown,Role-Playing,Unknown,Namco Bandai Games
9,.hack//Infection Part 1,0.49,0.38,0.26,0.13,1.27,75.0,35.0,8.5,60.0,PS2,CyberConnect2,Role-Playing,T,Atari

#### Mapping / Having a CASE WHEN

In [119]:
#Creation of dictionary to map
console_brand_mapping = {
    'PLAYSTATION': ['PS3','PS2','PS4','PS','PSP'],
    'MICROSOFT': ['X360','PC'],
    'NINTENDO': ['Wii','NES','GB','DS','SNES','GBA','3DS','N64','WiiU','GC',],
    'OTHERS':['GC','GEN','DC','2600','SAT','SCD','WS','NG','TG16','3DO','GG','PCFX','2600']
}


# Reversed mapping dictionary using a dictionary comprehension
brand_console_mapping = {console: brand for brand, consoles in console_brand_mapping.items() for console in consoles}

# Convert both 'Platform' values and dictionary keys to lowercase for case-insensitive matching
df['Brand'] = df['Platform'].str.upper().map({k.upper(): v for k, v in brand_console_mapping.items()})

In [120]:
# Group by 'Brand' and apply custom aggregation, filtering for the past 10 years starting from 2010
platform_data = df.loc[(df['Year_of_Release'] >= 2010) & (df['Year_of_Release'] <= 2015)].groupby(['Brand','Year_of_Release']).agg({
    'Global_Sales': 'sum',
    'Platform': concatenate_unique
}).reset_index()

platform_data.head(50)

          Brand  Year_of_Release  Global_Sales            Platform
0     MICROSOFT           2010.0        196.31            X360, PC
1     MICROSOFT           2011.0        180.93            X360, PC
2     MICROSOFT           2012.0        123.55            X360, PC
3     MICROSOFT           2013.0        102.25            X360, PC
4     MICROSOFT           2014.0         48.71            X360, PC
5     MICROSOFT           2015.0         20.50            X360, PC
6      NINTENDO           2010.0        216.88             DS, Wii
7      NINTENDO           2011.0        151.53        3DS, Wii, DS
8      NINTENDO           2012.0        110.92  3DS, DS, Wii, WiiU
9      NINTENDO           2013.0         88.46  3DS, WiiU, Wii, DS
10     NINTENDO           2014.0         76.68      3DS, WiiU, Wii
11     NINTENDO           2015.0         45.90      WiiU, 3DS, Wii
12  PLAYSTATION           2010.0        186.06       PS3, PSP, PS2
13  PLAYSTATION           2011.0        185.31       PS3, PSP, PS2
14  PLAYSTATION           2012.0        116.25            PS3, PSP
15  PLAYSTATION           2013.0        142.88       PS3, PS4, PSP
16  PLAYSTATION           2014.0        151.56       PS4, PS3, PSP
17  PLAYSTATION           2015.0        144.34       PS4, PS3, PSP

## Sort and Rank

#### Sorting values by desc

In [121]:
# Sort by 'Global_Sales' in descending order
aggregated_by_genre_data = aggregated_by_genre_data.sort_values(by='Global_Sales', ascending=False)
aggregated_by_genre_data.head(10)

         Genre  Year_of_Release  Global_Sales
167     Puzzle           1988.0         5.580
203     Racing           1992.0         4.520
133   Platform           1988.0         4.510
39   Adventure           1987.0         4.380
12      Action           1992.0         3.830
260    Shooter           1980.0         3.535
330     Sports           1983.0         3.200
201     Racing           1990.0         3.130
331     Sports           1984.0         3.090
169     Puzzle           1990.0         3.000

## Applying Functions

#### Function being applied to a column

In [124]:
def multiply(multiplicand, multiplier):
    return multiplicand * multiplier

# Apply the multiply function to 'Global_Sales' column, multiplying each value by 1000000
platform_data['Global_Sales'] = platform_data['Global_Sales'].apply(multiply, multiplier=1000000)
platform_data

          Brand  Year_of_Release  Global_Sales            Platform
0     MICROSOFT           2010.0  1.963100e+14            X360, PC
1     MICROSOFT           2011.0  1.809300e+14            X360, PC
2     MICROSOFT           2012.0  1.235500e+14            X360, PC
3     MICROSOFT           2013.0  1.022500e+14            X360, PC
4     MICROSOFT           2014.0  4.871000e+13            X360, PC
5     MICROSOFT           2015.0  2.050000e+13            X360, PC
6      NINTENDO           2010.0  2.168800e+14             DS, Wii
7      NINTENDO           2011.0  1.515300e+14        3DS, Wii, DS
8      NINTENDO           2012.0  1.109200e+14  3DS, DS, Wii, WiiU
9      NINTENDO           2013.0  8.846000e+13  3DS, WiiU, Wii, DS
10     NINTENDO           2014.0  7.668000e+13      3DS, WiiU, Wii
11     NINTENDO           2015.0  4.590000e+13      WiiU, 3DS, Wii
12  PLAYSTATION           2010.0  1.860600e+14       PS3, PSP, PS2
13  PLAYSTATION           2011.0  1.853100e+14       PS3, PSP, PS2
14  PLAYSTATION           2012.0  1.162500e+14            PS3, PSP
15  PLAYSTATION           2013.0  1.428800e+14       PS3, PS4, PSP
16  PLAYSTATION           2014.0  1.515600e+14       PS4, PS3, PSP
17  PLAYSTATION           2015.0  1.443400e+14       PS4, PS3, PSP